# Exploratory Data Analysis <a class="anchor"><a id='PVA'></a></b><br>
Authors:<br><br>
Student Name - Gonçalo Custódio<br>
- Student id - 20211643<br>
- Contact e-mail - 20211643@novaims.unl.pt<br>
  
Student Name - Diogo Correia<br>
- Student id - 20211586<br>
- Contact e-mail - 20211586@novaims.unl.pt<br>
  
Student Name - João Santos<br>
- Student id - 20211691<br>
- Contact e-mail - 20211691@novaims.unl.pt<br>
  
Student Name - Nuno Bernardino<br>
- Student id - 20211546<br>
- Contact e-mail - 20211546@novaims.unl.pt<br>

In [10]:
import sqlite3
import os
import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as op
from math import ceil
from datetime import datetime
from itertools import product
from pandas_profiling import ProfileReport
from sklearn.impute import KNNImputer
import sklearn.preprocessing as prep
import sklearn.impute as imp
import warnings

In [11]:
data = pd.read_excel("DM2425_ABCDEats_DATASET.xlsx", sheet_name="DM2425_ABCDEats_DATASET")

In [20]:
# 1. Initial Analysis
print(data.head())
print(data.info())

  customer_id customer_region  customer_age  vendor_count  product_count  \
0  1b8f824d5e            2360          18.0             2              5
1  5d272b9dcb            8670          17.0             2              2
2  f6d1b2ba63            4660          38.0             1              2
3  180c632ed8            4660           NaN             2              3
4  4eb37a6705            4660          20.0             2              5

   is_chain  first_order  last_order last_promo payment_method  ...  HR_14  \
0         1          0.0           1   DELIVERY           DIGI  ...      0
1         2          0.0           1   DISCOUNT           DIGI  ...      0
2         2          0.0           1   DISCOUNT           CASH  ...      0
3         1          0.0           2   DELIVERY           DIGI  ...      1
4         0          0.0           2          -           DIGI  ...      0

   HR_15  HR_16  HR_17  HR_18  HR_19  HR_20  HR_21  HR_22  HR_23
0      0      0      0      2      0      0      0      0      0
1      0      0      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0      0      0

[5 rows x 56 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31888 entries, 0 to 31887
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               31888 non-null  object
 1   customer_region           31888 non-null  object
 2   customer_age              31161 non-null  float64
 3   vendor_count              31888 non-null  int64
 4   product_count             31888 non-null  int64
 5   is_chain                  31888 non-null  int64
 6   first_order               31782 non-null  float64
 7   last_order                31888 non-null  int64
 8   last_promo                31888 non-null  object
 9   payment_method            31888 non-null  object
 10  CUI_American              31888 non-null  float64
 11  CUI_Asian                 31888 non-null  float64
 12  CUI_Beverages             31888 non-null  float64
 13  CUI_Cafe                  31888 non-null  float64
 14  CUI_Chicken Dishes        31888 non-null  float64
 15  CUI_Chinese               31888 non-null  float64
 16  CUI_Desserts              31888 non-null  float64
 17  CUI_Healthy               31888 non-null  float64
 18  CUI_Indian                31888 non-null  float64
 19  CUI_Italian               31888 non-null  float64
 20  CUI_Japanese              31888 non-null  float64
 21  CUI_Noodle Dishes         31888 non-null  float64
 22  CUI_OTHER                 31888 non-null  float64
 23  CUI_Street Food / Snacks  31888 non-null  float64
 24  CUI_Thai                  31888 non-null  float64
 25  DOW_0                     31888 non-null  int64
 26  DOW_1                     31888 non-null  int64
 27  DOW_2                     31888 non-null  int64
 28  DOW_3                     31888 non-null  int64
 29  DOW_4                     31888 non-null  int64
 30  DOW_5                     31888 non-null  int64
 31  DOW_6                     31888 non-null  int64
 32  HR_0                      30723 non-null  float64
 33  HR_1                      31888 non-null  int64
 34  HR_2                      31888 non-null  int64
 35  HR_3                      31888 non-null  int64
 36  HR_4                      31888 non-null  int64
 37  HR_5                      31888 non-null  int64
 38  HR_6                      31888 non-null  int64
 39  HR_7                      31888 non-null  int64
 40  HR_8                      31888 non-null  int64
 41  HR_9                      31888 non-null  int64
 42  HR_10                     31888 non-null  int64
 43  HR_11                     31888 non-null  int64
 44  HR_12                     31888 non-null  int64
 45  HR_13                     31888 non-null  int64
 46  HR_14                     31888 non-null  int64
 47  HR_15                     31888 non-null  int64
 48  HR_16                     31888 non-null  int64
 49  HR_17                     31888 non-null  int64
 50  HR_18                     31888 non-null  int64
 51  HR_19                     31888 non-null  int64
 52  HR_20                     31888 non-null  int64
 53  HR_21                     31888 non-null  int64
 54  HR_22                     31888 non-null  int64
 55  HR_23                     31888 non-null  int64
dtypes: float64(18), int64(34), object(4)
memory usage: 13.6+ MB
None

In [22]:
# 2. Identify Missing Values
missing_values = data.isnull().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
customer_id                    0
customer_region                0
customer_age                 727
vendor_count                   0
product_count                  0
is_chain                       0
first_order                  106
last_order                     0
last_promo                     0
payment_method                 0
CUI_American                   0
CUI_Asian                      0
CUI_Beverages                  0
CUI_Cafe                       0
CUI_Chicken Dishes             0
CUI_Chinese                    0
CUI_Desserts                   0
CUI_Healthy                    0
CUI_Indian                     0
CUI_Italian                    0
CUI_Japanese                   0
CUI_Noodle Dishes              0
CUI_OTHER                      0
CUI_Street Food / Snacks       0
CUI_Thai                       0
DOW_0                          0
DOW_1                          0
DOW_2                          0
DOW_3                          0
DOW_4                          0
DOW_5                          0
DOW_6                          0
HR_0                        1165
HR_1                           0
HR_2                           0
HR_3                           0
HR_4                           0
HR_5                           0
HR_6                           0
HR_7                           0
HR_8                           0
HR_9                           0
HR_10                          0
HR_11                          0
HR_12                          0
HR_13                          0
HR_14                          0
HR_15                          0
HR_16                          0
HR_17                          0
HR_18                          0
HR_19                          0
HR_20                          0
HR_21                          0
HR_22                          0
HR_23                          0
dtype: int64

In [23]:
# 3. Descriptive Statistical Analysis
print(data.describe())

       customer_age  vendor_count  product_count      is_chain   first_order  \
count  31161.000000  31888.000000   31888.000000  31888.000000  31782.000000
mean      27.506499      3.102609       5.668245      2.818866     28.478604
std        7.160898      2.771587       6.957287      3.977529     24.109086
min       15.000000      0.000000       0.000000      0.000000      0.000000
25%       23.000000      1.000000       2.000000      1.000000      7.000000
50%       26.000000      2.000000       3.000000      2.000000     22.000000
75%       31.000000      4.000000       7.000000      3.000000     45.000000
max       80.000000     41.000000     269.000000     83.000000     90.000000

         last_order  CUI_American     CUI_Asian  CUI_Beverages      CUI_Cafe  \
count  31888.000000  31888.000000  31888.000000   31888.000000  31888.000000
mean      63.675521      4.880438      9.960451       2.300633      0.801163
std       23.226123     11.654018     23.564351       8.479734      6.427132
min        0.000000      0.000000      0.000000       0.000000      0.000000
25%       49.000000      0.000000      0.000000       0.000000      0.000000
50%       70.000000      0.000000      0.000000       0.000000      0.000000
75%       83.000000      5.660000     11.830000       0.000000      0.000000
max       90.000000    280.210000    896.710000     229.220000    326.100000

       ...         HR_14         HR_15         HR_16         HR_17  \
count  ...  31888.000000  31888.000000  31888.000000  31888.000000
mean   ...      0.215630      0.277032      0.356435      0.390962
std    ...      0.599006      0.738162      0.874449      0.943721
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      0.000000      0.000000      0.000000
75%    ...      0.000000      0.000000      0.000000      0.000000
max    ...     13.000000     23.000000     22.000000     20.000000

              HR_18         HR_19         HR_20         HR_21         HR_22  \
count  31888.000000  31888.000000  31888.000000  31888.000000  31888.000000
mean       0.336961      0.245610      0.142812      0.071155      0.048263
std        0.893949      0.795296      0.586529      0.348536      0.298265
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max       24.000000     35.000000     36.000000     11.000000     15.000000

              HR_23
count  31888.000000
mean       0.045189
std        0.282006
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       13.000000

[8 rows x 52 columns]

In [25]:
data.dtypes()

TypeError: 'Series' object is not callable